<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>example-app</title>
<style type="text/css"></style>
</head>

<body>
<div id="caja">
  <h1>Example-app </h1>
</div>
	<h1>title</h1>
	<p>Bienvenido al Café 	<%=title%></p><br> 
	<p>BaseDatos	:	 	<%=basedat%></p> 
	<p>usuario		:	 	<%=usuario%></p> 
	<p>dialect		:	 	<%=dialecto%></p> 
	<p>puerto		:	 	<%=puerto%></p> 
	<p>host			:	 	<%=host%></p> 
	<p>storage		:	 	<%=storage%></p> 
	
</body>
</html>
