
	<h3>Bienvenido al Café 	<%=title%></h3>
	Portal de fotos
	<p>Caso de una prenda:   <%=prenda%></p> 
	
	<p> basedat		<%=basedat%></p>
	<p> usuario		<%=usuario%></p>
	<p> pwd			<%=pwd%></p>
	<p> protocolo	<%=protocolo%></p>
	<p> dialecto	<%=dialecto%></p>
	<p> puerto		<%=puerto%></p>
	<p> host		<%=host%></p>
	<p> storage		<%=storage%></p>
