<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>example-app</title>
<style type="text/css">
</style>
</head>

<body>
<div>
  <h1>Example-app </h1>
</div>
	<h1>title</h1>
	<p>Bienvenido al café </p>
	
	<p>Caso de una prenda:   <%=prenda%></p> 
	
	
	<p> basedat		<%=basedat%></p>
	<p> usuario		<%=usuario%></p>
	<p> pwd			<%=pwd%></p>
	<p> protocolo	<%=protocolo%></p>
	<p> dialecto	<%=dialecto%></p>
	<p> puerto		<%=puerto%></p>
	<p> host		<%=host%></p>
	<p> storage		<%=storage%></p>
	
	
	
	
</body>
</html>


<!--
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content     -->
